* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Poppins;
  }
  body a{
    text-decoration: none;
  }
  .navBar {
    width: 100%;
    height: 40px;
    background-color: #262626;
  }
  .nav {
    width: 88%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav p {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    color: #999;
  }
  .rightNav {
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rightNav a{
    color: #999;
  }
  .rightNav p i {
    /* width:30%; */
    font-size: 10px;
    color: #999;
    padding-left: 6px;
    /* display: flex;
      
      align-items: center;
      justify-content: space-between; */
  }
  .rightNav a span:hover{
    color:#ebb5ac;
    transition: 0.6s all;
    cursor: pointer;
  }
  .rightNav p span i:hover{
      color:#ebb5ac;
      transition: 0.6s all;
      cursor: pointer;
    }
  .downNav {
    width: 100%;
    height: 90px;
  }
  .innerNav {
    width: 88%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .leftNav {
    width: 52%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
  }
  .leftNav p {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .leftNav p span{
    color:#ebb5ac;
  }
  .leftNav p:hover{
    color:#ebb5ac;
    transition: 0.6s all;
  }

  .fashion-drop{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .fashion-drop:hover .fashion-menu{
     display: flex;
     transition: 0.6s all;
  }
  .fashion-menu{
    display: none;
  }
  .fashion-1{
    position: absolute;
    top:90px;
    left:0px;
    height: 315px;
    width:565px;
   background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-around;
  }
  .innerdrop{
    display: flex;
   
    align-items: flex-start;
    justify-content: space-around;
  }
  .innerdrop a{
    color:black;
  }
  .left-drop{
    width: 30%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .left-drop h4{
    padding-top: 15px;
    padding-bottom: 15px;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
  }
  .left-drop p{
    font-size: 13px;
    color: #999;
    cursor: pointer;
  }
  .left-drop h4:hover{
    color: #ebb5ac;
    transition: 0.6s all;
  }
  .middle-drop{
    width: 30%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .middle-drop h4{
    padding-top: 15px;
    padding-bottom: 15px;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
  }
  .middle-drop h4:hover{
    color:#ebb5ac;
    transition: 0.6s all;
  }
  .middle-drop p{
    font-size: 13px;
    color: #999;
    cursor: pointer;
  }
  .right-drop{
    width: 30%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .right-drop h4{
    padding-top: 15px;
    padding-bottom: 15px;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
  }
  .right-drop h4:hover{
    color: #ebb5ac;
    transition: 0.6s all;
  }
  .right-drop p{
    font-size: 13px;
    color: #999;
    cursor: pointer;
  }
  .drop-img{
    cursor: pointer;
  }
  .navIcons {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Icons{
    display: none;
  }
  .zero-pos {
    position: relative;
  }
  .zero-pos p {
    width: 16px;
    height: 18px;
    font-size: 12px;
  
    position: absolute;
    left: 7px;
    bottom: 12px;
    border-radius: 50%;
    background-color: #ebb5ac;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selectMenu{
     position: relative;
     height: 100%;
     display: flex;
     align-items: center;
     
  }
  .selectMenu:hover .select{
      display: flex;
      transition: 0.9s 5s all;
      /* transform: translateX(-30px); */
  }
 .sel :hover{
  color: #ebb5ac;
  transition-duration: 3ms;
  transition-delay: 5s;
  }
  /* .sel{
    display: none;
  } */
  
  .select {
    position: absolute;
    top:90px;
    left:-25px;
    width:170px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;

  }
  .select p{
    color: #999;
  }
.topNav{
    width: 100%;
    height: 70px;
    padding-left: 76px;
    background-color:#F5F5F5;
}  
.topNav-1{
     width:12%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content:space-between ;
}
.topNav-1 p{
    height: 17px;
   font-size: 13px;
   font-weight: 300px;
   color: #262626;
}
.topNav-1 .border::before{
    /* height: 3px; */
    /* border-left:1px solid black;*/
    padding-right: 10px; 
    content: "|";
    color: #262626;
   
}
.topNav-1 p:hover{
    text-decoration: underline;
    color: #ebb5ac;
    transition: 0.6s all;
    cursor: pointer;
}
.bgItem {
    width:88%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.bgItem img{
    width:100%;
    height: 100%;
}
.fashion {
    width:88%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}
.fashion p{
    font-size: 20px;
    font-weight: 500;
    color:#262626
}
.underline{
    width:88%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #999 ;
}
.para{
    width:88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.para p{
    font-size:13px;
    color:#999;
    line-height: 25px;
    word-spacing: 2px;
}
.para-1 {
    width:88%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}
.para-1 p{
    font-size: 15px;
    font-weight: 500;
    color:#262626
}
.imgFlex{
    width:88%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.boxImg{
    width:61%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.categories-con{
    width:160px;
    /* height: 100%; */
}


.categories-con img{
    width:100%;
    height: 160px;
    border:1px solid #cdc9c9; 
    
}
.categories-con img:hover{
  cursor: pointer;
  border:1px solid rgb(171, 69, 69); 
  transition: 0.6s all;
}
.categories-con p{
   font-size: 13px;
   font-weight: 500;
   color:#262626;
   text-align: center;
   cursor: pointer;
}
.categories-con p:hover{
  color:#ebb5ac;
  transition: 0.6s all;
}
.filter{
  width:88%;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
}
.filter p{
  width:200px;
  height: 39px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px solid #e2d8d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
    font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 0px  1px #e2d8d8; 
}
.drop{
  width:88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.menu{
  width:15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu p{
  font-size: 13px;
}
.menu-1{
  width:45%;
  height:20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-1 h5{
  font-size: 15px;
  font-weight: 400;
}
.menu-1 p{
  border:1px solid #e2d8d8;
  
  width:85%;
  height:100%;
  font-size: 13px;
  color:#262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 20px;
  box-shadow: 0px 0px  1px #e2d8d8; 
  
}
.grid {
  width: 100%;
  margin-top: 50px;
}
.gridImg {
  width: 90%;
  
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  
}
.collection {
  width: 100%;
  height: 506px;
  position: relative;
  padding: 12px;
 
  
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.image {
  width: 100%;
  height: 337px;
  overflow: hidden;
  position: relative;
}
.image img {
  width: 100%;
  /* height: 337px; */
  transition: 0.5s all;
  
}
.collection .backImg {
   display: none;
  transition: 0.6s all;
 
}
 .frontImg {
  position: absolute;
  top: 0;
}
.collection:hover .backImg {
  display: flex;
  /* transition: 4s  all; */

  transform: scale(1.1);
  transition: 0.3s all;

}
.collection:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.collection:hover .pos p {
  display: none;
  transition: 0.5s all;
  
}
.collection .pos h6 {
  display: none;
}
.collection:hover .pos h6 {
  display: block;
  transition: 0.6s all;
}
.position {
  width: 40px;
  height: 120px;
  position: absolute;
  top: 22px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.position i:hover{
  background-color:#ebb5ac;
  transition: 0.6s all;
  cursor: pointer;
}
.position i {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pos-1 {
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pos-1 i {
  display: none;
}
.collection:hover .position-1 i {
  display: flex;
 
  transition: 0.5s all;
}
.pos h6{
  cursor: pointer;
}
.pos p {
  width: 70px;
  height: 23px;
  position: absolute;
  right: 18px;
  bottom: 36%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 3px;
  color: white;
  background-color: #f34723;
  
}

.pos h6 {
  width: 50px;
  height: 23px;
  position: absolute;
  right: 18px;
  bottom: 36%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 3px;
  color: white;
  background-color: #00ae42;
}
.downCon {
  width: 261px;
  height: 107px;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.ratings i {
  color: #ebb5ac;
  font-size: 12px;
}
.cartButton {
  width: 100%;
  height: 45px;
  display: none;
  /* margin-top: 12px; */
}
.cartButton h6 {
  background-color: #ebb5ac;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.collection:hover .cartButton {
  display: block;
}
.cartButton h6:hover {
  background-color: #000;
  color: white;
  transition: 0.6s all;
}

.downCon p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.downCon p:hover {
  color: #ebb5ac;
  transition: 0.5s all;
}
.downCon h5 {
  font-size: 15px;
  font-weight: 500;
  color: black;
   padding-top: 10px;
   padding-bottom: 10px;
}
/* .collection:hover {
  width:94%;
  height: 473px;
  border: 1px solid white;
 
} */
.ratings{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ratings-1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ratings-1 i {
  color: #ddd;
  font-size: 12px;
}
.ratings-2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ratings-2 i {
  color: #ebb5ac;
  font-size: 12px;
}
.ratings-2 .icon {
  color: #ddd;
  font-size: 12px;
}
.ratings-3{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ratings-3 i {
  color: #ebb5ac;
  font-size: 12px;
}
.ratings-3 .icon {
  color: #ddd;
  font-size: 12px;
}
.tags {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tags del {
  color: #888888;
  font-size: 16px;

  font-weight: 300;
}
.tags p {
  color: #f00;
  font-size: 14px;
  font-weight: 500;
}
.rightIcon{
    width:88%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
  .innerIcon{
    width:9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .innerIcon i {
    width:30px;
    height: 30px;
    color:white;
    background-color: #000;
    font-size: 12px;
    padding: 9px 10px;
  }
  .innerIcon p {
    width:30px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    background-color: #000;
   
    padding: 6px 12px;
  }
  .rightIcon p{
    font-size: 13px;
    font-weight: 400;
    color: #999;
  }
  .innerIcon span{
    color:#ddd;
    font-weight:500;
  }
  .innerIcon .span{
    
    color:black;
    background-color:#ebb5ac;
    font-weight: 400;
  }
.footer {
  width: 100%;
  height: 100%;
  background-color: #262626;
  /* margin-top: 45px; */
  /* padding-top: 100px; */
  /* padding-bottom: 150px; */
  padding: 50px 0px;
  margin-top: 20px;
}
.innerFooter {
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  align-items: center;
  justify-content: space-between;
}
.sideIcon {
  width: 36%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sideIcon h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.sideIcon-1 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sideIcon-1 p {
  width: 100%;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;

 
}
.sideIcon-1 i {
 color: #ebb5ac;
  padding-right: 12px;
}
.conSection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.conSection-1 {
  width: 100%;
  
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.conSection h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.conSection-1 p {
  width: 100%;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
}
.proSection {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.proSection-1 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.proSection h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.proSection-1 p {
  width: 100%;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
}
.comSection {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.comSection-1 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 22px; */
  justify-content: space-between;
}
.comSection h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.comSection-1 p {
  width: 100%;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
}
.newSection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.newSection h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.newSection-1 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.newSection-1 p {
  width: 100%;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}
.newSection-1 button {
  width: 100%;
  height: 45px;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
  padding-right: 50px;
  background-color: white;
}
.footer-Icon {
  width: 100%;
  height: 39px;
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}
.footer-Icon i {
  font-size: 20px;
  color: #888;
}
@media(max-width:1200px){

}
@media(max-width:600px){
  .navBar{
    display: none;

  }
  .leftNav{
    display: none;
  }
  .navIcons{
    display: none;
  }
  .Icons{
    display: block;
  }
  .topNav {
    width: 100%;
    height: 70px;
    padding-left: 0px;
  }
  .topNav-1 {
    width: 75%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topNav-1 p{
    padding-left: 10px;
  }
 .bgItem {
    width: 88%;
    height: 100px;
 
  }
  .para p {
    font-size: 8px;
    color: #999;
    line-height: 25px;
    word-spacing: 2px;
  }
  .imgFlex {
    width: 88%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.boxImg {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.categories-con {
  width: 100%;
  height: 100%;
}
.categories-con img {
  width: 93%;
  height: 159px;
  border: 1px solid #cdc9c9;
}
.filter {
  width: 88%;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1,5fr);
}
.drop {
  width: 88%;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
 
}
.menu-1 {
  width: 100%;
  height: 54%;}
.menu {
  width: 73%;
}
.menu p {
  font-size: 15px;
  font-weight: 500;
}
  .menu-1 p
{
  width: 72%;
  height:74%;
  padding: 11px 20px;
  font-size: 14px;
}
.menu-1 h5 {
  font-size: 17px;
  font-weight: 500;
  
}
.gridImg {
  grid-template-columns: repeat(1, 4fr);
 }
 .collection {
  width: 100%;
  height: 614px;
}
.image{
  width: 100%;
  height: 444px; 
}  
.innerFooter {
  width: 93%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}
.innerIcon{
    width:30%;
}
.rightIcon{
    width:90%;
}
.sideIcon {
  width: 221px;
  height: 100%;
}
.sideIcon-1 {
  width: 100%;
  height: 100%;
}
.conSection {
  width: 100%;
  height: 100%;
}
.conSection-1 {
  width: 100%;
  height: 100%;
}
.proSection {
  width: 100%;
  height: 100%;
}
.proSection-1 {
  width: 100%;
  height: 100%;
}
.comSection {
  width: 100%;
  height: 100%;
}
.newSection {
  width: 100%;
  height: 100%;
}
.newSection-1 {
  width: 100%;
  height: 100%;
}
.comSection-1 {
  width: 100%;
  height: 100%;
}
 } 
